/* Header*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1170px;
}

.header {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.mini-header {
  background-color: rgb(255, 238, 0);
  width: 100%;
  height: 30px;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  z-index: 10;
}
.pala {
  margin-top: 100px;
}
.internet {
  margin-right: 100px;
  font-size: large;
}
.Game {
  margin-left: 100px;
  font-size: large;
}
.Tv {
  margin-left: 50px;
  font-size: large;
}

header {
  margin-top: 25px;
  height: 90px;
  width: 100%;
  background-color: rgb(253, 253, 253);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 110px;
  margin-top: 0;
  margin-right: 15px;
  padding-bottom: 20px;
}

.header-left {
  float: left;
}

.menu-icon {
  float: right;
  cursor: pointer;
  line-height: 48px;
  padding: 20px 15px;
  transition: background-color 0.3s;
  /* Gantikan property display ke none */
  display: none;
}

.header-right {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  font-size: small;
  line-height: 90px;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  display: block;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

li.dropdown {
  display: inline-block;
}
.dropdown:hover .isidari-dropdown {
  display: block;
}

.isidari-dropdown a:hover {
  color: #7b7d7d;
}

.isidari-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.isidari-dropdown a {
  color: rgba(255, 0, 0, 0.9);
}

.isidari-dropdown a:hover {
  color: #232323;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Akhir Header*/

/* Body*/
.top-wrapper {
  padding: 180px 0 200px 0;
  background-image: url(https://cdn.pixabay.com/photo/2020/11/07/20/29/injection-5722329_960_720.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 56px;
  font-family: monospace;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.8;
  font-size: 18px;
}

.btn-wrapper {
  margin: 20px 0;
  background-color: #185adb;
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.btn-daftar {
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  font-size: smaller;
  background-color: #fff200;
  padding: 12px 20px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn-daftar:hover {
  opacity: 1;
}
.btn-daftar:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}

.btn-wrapper:hover {
  opacity: 1;
}
.btn-wrapper:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}

.text-left {
  float: left;
}

.text-left h2 {
  color: yellow;
  margin-left: 20px;
}

.text-left h3 {
  margin-left: 20px;
}

.text-right {
  float: right;
  margin-right: 20px;
}

.btn-info {
  display: inline-block;
  padding: 15px 35px;
  background-color: #5dca66;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  color: white;
}
.btn-info:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.btn-bungkus {
  padding-top: 220px;
  margin-left: 50px;
}

.btn-paket {
  display: inline-block;
  padding: 15px 35px;
  background-color: #fff200;
  cursor: pointer;
  box-shadow: 0 7px #b3f305;
  color: black;
  margin-left: 20px;
}
.btn-paket:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.protokol {
  margin-top: 100px;
  padding: 100px 80px;
}

.protokol-title {
  font-size: 32px;
  text-align: center;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.protokol-content img {
  width: 200px;
  height: 200px;
}
.protokol-content {
  display: block;
  float: left;
  margin-right: 40px;
  margin-left: 55px;
  text-align: center;
}

.protokol-content h4 {
  font-size: 20px;
  margin-top: 30px;
}
.protokol-content p {
  font-size: 18px;
  font-family: cursive;
  margin-top: 10px;
  text-align: center;
}
.mb-3 {
  text-align: center;
  text-decoration: orange;
}
.card-grup {
  width: 50px;
}
.card-img-top {
  width: 50px;
}
.icon1 {
  padding-top: 100px;
}

/* Konten*/
.artikel {
  margin-top: 50px;
  padding: 100px 80px;
  clear: both;
  text-align: center;
}
.artikel-title {
  font-size: 28px;
  text-align: center;
  /* border-bottom: 2px solid #dee7ec; */
  padding-bottom: 5px;
}
.artikel p {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.btn-artikel {
  display: inline-block;
  padding: 15px 35px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  color: white;
  margin-bottom: 25px;
  margin-top: 10px;
}
.btn-artikel:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.img-fluid {
  border: #232323;
}

/* Kritik Saran */
.form {
  padding: 200px 80px;
  margin-top: 100px;
}
.img-faq {
  margin-left: 120px;
  margin-top: 150px;
}
.instagram {
  width: 50px;
  margin-top: 0;
  margin-right: 0px;
  margin-left: 170px;
  padding-bottom: 20px;
}
.twitter {
  width: 50px;
  margin-top: 0;
  margin-left: 300px;
  padding-bottom: 20px;
}
.gmail {
  width: 50px;
  margin-top: 0;
  margin-right: ;
  margin-left: 150px;
  padding-bottom: 20px;
}
.telepon {
  width: 50px;
  margin-top: 0;
  margin-right: ;
  margin-left: 150px;
  padding-bottom: 20px;
}
.download {
  width: 50px;
  margin-top: 0;
  margin-left: 170px;
  padding-bottom: 20px;
}
.card {
  margin-left: 100px;
  margin-right: 100px;
}

input[type="text"],
text,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  margin-top: 100px;
  height: 200px;
}

footer .container {
  padding: 10px 30px;
  margin: 0 50px;
}

footer img {
  width: 100px;
}

footer p {
  color: #f4f9f9;
  font-size: 15px;
}
footer {
  padding-top: 30px;
  background-color: rgb(255, 255, 0);
}

.footer-left {
  float: left;
}
.footer-right li {
  border-right: 2px solid black;
}
